### Scraping of the Trading Summary of Netflix, Inc. (NFLX) from Yahoo Finance.

In [1]:
# importing the packages

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# the link to the page is saved as a variable called url

url = 'https://finance.yahoo.com/quote/AAPL?p=AAPL'

In [3]:
link = requests.get(url)

In [4]:
soup = BeautifulSoup(link.text, 'html.parser')

In [5]:
# We can check to see the title of the page.

print(soup.title.text)

Apple Inc. (AAPL) Stock Price, News, Quote & History - Yahoo Finance

After studying and inspecting the Summary page, it was noticed that there are three(3) tables on that page, two of which contains the trading summary we're looking for.

So, we'll scrape the first table `table1` and get the data.

In [6]:
table1 = soup.find_all('table', {'class':'W(100%)'})[0]

In [7]:
table1

<table class="W(100%)" data-reactid="91"><tbody data-reactid="92"><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)" data-reactid="93"><td class="C($primaryColor) W(51%)" data-reactid="94"><span data-reactid="95">Previous Close</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="96" data-test="PREV_CLOSE-value"><span class="Trsdu(0.3s)" data-reactid="97">153.65</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)" data-reactid="98"><td class="C($primaryColor) W(51%)" data-reactid="99"><span data-reactid="100">Open</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="101" data-test="OPEN-value"><span class="Trsdu(0.3s)" data-reactid="102">153.76</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)" data-reactid="103"><td class="C($primaryColor) W(51%)" data-reactid="104"><span data-reactid="105">Bid</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="106" data-test="BID-value"><span class="Trsdu(0.3s)" data-reactid="107">154.29 x 1400</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)" data-reactid="108"><td class="C($primaryColor) W(51%)" data-reactid="109"><span data-reactid="110">Ask</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="111" data-test="ASK-value"><span class="Trsdu(0.3s)" data-reactid="112">154.33 x 1000</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)" data-reactid="113"><td class="C($primaryColor) W(51%)" data-reactid="114"><span data-reactid="115">Day's Range</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="116" data-test="DAYS_RANGE-value">153.10 - 154.63</td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)" data-reactid="117"><td class="C($primaryColor) W(51%)" data-reactid="118"><span data-reactid="119">52 Week Range</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="120" data-test="FIFTY_TWO_WK_RANGE-value">103.10 - 154.98</td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)" data-reactid="121"><td class="C($primaryColor) W(51%)" data-reactid="122"><span data-reactid="123">Volume</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="124" data-test="TD_VOLUME-value"><span class="Trsdu(0.3s)" data-reactid="125">57,866,066</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) Bdbw(0)!" data-reactid="126"><td class="C($primaryColor) W(51%)" data-reactid="127"><span data-reactid="128">Avg. Volume</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="129" data-test="AVERAGE_VOLUME_3MONTH-value"><span class="Trsdu(0.3s)" data-reactid="130">76,831,781</span></td></tr></tbody></table>

In [8]:
# To get the fields from the first table

Field1 = []

for x in table1.find_all('td', {'class':'C($primaryColor) W(51%)'}):
    summ = x.find('span').text
    Field1.append(summ)
    
print(Field1)

['Previous Close', 'Open', 'Bid', 'Ask', "Day's Range", '52 Week Range', 'Volume', 'Avg. Volume']

In [9]:
# To get the values from the first table.

Values1 = []

for y in table1.find_all('td', {'class':'Ta(end) Fw(600) Lh(14px)'}):
    Values1.append(y.text)
    
print(Values1)

['153.65', '153.76', '154.29 x 1400', '154.33 x 1000', '153.10 - 154.63', '103.10 - 154.98', '57,866,066', '76,831,781']

Scraping the second table, `table2`

In [10]:
table2 = soup.find_all('table', {'class':'W(100%)'})[1]

In [11]:
# Getting the second set of fields from the 2nd table.

Field2 = []

for x in table2.find_all('td', {'class','C($primaryColor) W(51%)'}):
    sum2 = x.find('span').text
    Field2.append(sum2)
    
print(Field2)

['Market Cap', 'Beta (5Y Monthly)', 'PE Ratio (TTM)', 'EPS (TTM)', 'Earnings Date', 'Forward Dividend & Yield', 'Ex-Dividend Date', '1y Target Est']

In [12]:
# Getting the 2nd set of values.

Values2 = []

for y in table2.find_all('td', {'class':'Ta(end) Fw(600) Lh(14px)'}):
    data = y.text
    Values2.append(data)
    
print(Values2)

['2.551T', '1.20', '30.21', '5.11', 'Oct 27, 2021 - Nov 01, 2021', '0.88 (0.57%)', 'Aug 06, 2021', '166.23']

We've extracted data from two different tables in the page, it is time to join the data together.
Since they were stored in lists, it will be easy to join them!

The Field1 and Field2 will be combined into one. Same for the Values1 and Values2.

In [13]:
Field3 = Field1 + Field2

print(Field3)

['Previous Close', 'Open', 'Bid', 'Ask', "Day's Range", '52 Week Range', 'Volume', 'Avg. Volume', 'Market Cap', 'Beta (5Y Monthly)', 'PE Ratio (TTM)', 'EPS (TTM)', 'Earnings Date', 'Forward Dividend & Yield', 'Ex-Dividend Date', '1y Target Est']

In [14]:
Values3 = Values1 + Values2

print(Values3)

['153.65', '153.76', '154.29 x 1400', '154.33 x 1000', '153.10 - 154.63', '103.10 - 154.98', '57,866,066', '76,831,781', '2.551T', '1.20', '30.21', '5.11', 'Oct 27, 2021 - Nov 01, 2021', '0.88 (0.57%)', 'Aug 06, 2021', '166.23']

The next Step is to convert this combined lists into a pandas DataFrame!

In [15]:
df = pd.DataFrame()

In [16]:
df['Fields'] = Field3

In [17]:
 df['Values'] = Values3

In [18]:
df

                      Fields                       Values
0             Previous Close                       153.65
1                       Open                       153.76
2                        Bid                154.29 x 1400
3                        Ask                154.33 x 1000
4                Day's Range              153.10 - 154.63
5              52 Week Range              103.10 - 154.98
6                     Volume                   57,866,066
7                Avg. Volume                   76,831,781
8                 Market Cap                       2.551T
9          Beta (5Y Monthly)                         1.20
10            PE Ratio (TTM)                        30.21
11                 EPS (TTM)                         5.11
12             Earnings Date  Oct 27, 2021 - Nov 01, 2021
13  Forward Dividend & Yield                 0.88 (0.57%)
14          Ex-Dividend Date                 Aug 06, 2021
15             1y Target Est                       166.23